In [1]:
import numpy as np
from numpy import sin, cos
import pandas as pd

$u'(t) = \lambda (u - cos t) - sin t$

In [2]:
lamb = -1e6
K = [.4, .2, .1]
sol = cos(3)

In [3]:
def backward_euler(u, k):
    T = np.arange(0, 3+k, k)
    for t in T:
        u = (u - lamb*k*cos(t+k) - k*sin(t+k)) / (1 - lamb*k)
    return u

In [4]:
def trapezoidal(u, k):
    T = np.arange(0, 3+k, k)
    for t in T:
        u = (lamb*(u - cos(t)) - sin(t) - lamb*cos(t+k) - sin(t+k)) / (k/2 - lamb)
    return u

In [5]:
#case 1
u1 = 1
back1 = [abs(sol - backward_euler(u1, k)) for k in K]
trap1 = [abs(sol - trapezoidal(u1, k)) for k in K]

In [6]:
#case 2
u2 = 3/2
back2 = [abs(sol - backward_euler(u2, k)) for k in K]
trap2 = [abs(sol - trapezoidal(u2, k)) for k in K]

In [7]:
data = {'k':np.concatenate((K, K)),
        'Backward Euler':np.concatenate((back1, back2)),
        'Trapezoidal':np.concatenate((trap1, trap2))}
pd.DataFrame(data, index=[1, 1, 1, 2, 2, 2])

     k  Backward Euler  Trapezoidal
1  0.4        0.093234     0.093235
1  0.2        0.008302     0.008302
1  0.1        0.009143     0.009143
2  0.4        0.093234     0.406765
2  0.2        0.008302     0.491697
2  0.1        0.009143     0.509142